<div class = "top-story">

	<%= image_tag @leadarticle.image, class: "article-image-lead"%> <br>
	<%=link_to @leadarticle.headline.upcase, @leadarticle.url%>

</div>

<div class = "brand-top">

	<h1><i>Shane Report</i></h1>

</div>

<div class="home-column">
	<div class = "article-content">
		<%=render 'pages/articleindex'%>
	</div>
	<div class = "personal-content">
		
	</div>
</div>

<div class="home-column center-column">
	<div class = "article-content">
		<%=render 'pages/articleindex'%>
	</div>
	<div class = "personal-content">
		
	</div>
</div>

<div class="home-column">
	<div class = "article-content">
		<%=render 'pages/articleindex'%>
	</div>
	<div class = "personal-content">
		
	</div>
</div>
