<div class ="footer">

	<div class ="footer-container">
		<%= link_to "Legal", root_path %>
		<%= link_to "Placeholders", about_path %>
		<%= link_to "Log in", new_editor_session_path %>
		<%= link_to "Sign up", new_editor_registration_path %>
		<%= link_to "Account Settings", edit_editor_registration_path %>

	</div>


</div>