<div class ="header">

	<div class ="header-container">
		
		<% if editor_signed_in?%>
			<%= link_to "New Article", newarticle_path %>
			<%= link_to "All Articles", indexarticles_path %>
			<%= link_to "Categories", index_categories_path %>
			<%= link_to "New Columnists", newcolumnist_path %>
			<%= link_to "All Columnists", indexcolumnists_path %>

			
		<%else%>

			<% if @header_categories %>

				<% @header_categories.each do |category|%>

					<a href="<%=category_home_path(category.url)%>"><%=category.name%></a>

				<%end%>
				
			<%end%>

		<%end%>

	</div>


</div>